.contactForm {
    margin-top: 10px;
    height: 750px;
    background-color: #EF5B5B;
}

form {
    margin: 0 auto;
    padding-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#223d5d;
}

fieldset{
    margin: auto;
    text-align:center;
    width: 30%;
    height: 600px;
    border: 3px solid #BABDBF;
}

legend {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 24px;
    margin-bottom: 15px;
}


input[type="text"] {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 32%;
    height: 30px;
    background-color: #fdfdfd;
    border: 1px solid #BABDBF;
    padding: 2px;
}

input[type="submit"] {
    border-radius: 5px;
    margin-top: 40px;
    width: 32%;
    height: 30px;
    background-color: #fdfdfd;
    border: 1px solid #BABDBF;
}

form:active {
    color:#EF5B5B;
}

input:required:invalid {
    border-color: rgb(190, 71, 71);
    border-width: 3px;
}


textarea {
    margin-top: 10px;
    border-radius: 5px;
    width: 80%;
    height: 300px;
    border: 1px solid #BABDBF;
    background-color: #fdfdfd;
}

.socialMedia {
    margin-top: 10px;
    height: 100px;
    background-color: #083D77;
    display: flex;
    align-items: center;
}

.icons {
    width: 500px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 540px) {
    fieldset{
        margin: auto;
        text-align:center;
        width: 80%;
        height: 600px;
        border: 3px solid #BABDBF;
    }

    .contactForm {
        margin-top: 10px;
        height: 680px;
        background-color: #EF5B5B;
    }
}